name: CI/CD Springboot

on: 
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Config JDK
        uses: actions/setup-java@v4
        with:
            java-version: "21"
            distribution: "temurin"

      - name: instalar dependecia e rodar teste
        run: mvn clean install

      - name: gerar.jar
        run: mvn package -DskipTests

      - name: upload
        uses: actions/upload-artifact@v4
        with:
            name: app-jar
            path: target/*.jar
